<h1>Delete Cube</h1>
{{> error-message}}
<div class="form">
  <form action='/delete/{{_id}}' method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{this.name}}" disabled="true" />
    <label for="name">Description</label>
    <textarea id="name" name="description" disabled="true" />{{this.description}}</textarea>
    <label for="image">ImageUrl</label>
    <input type="text" id="image" name="imageUrl" value="{{this.imageUrl}}" disabled="true" />
    <label for="difficulty">Difficulty</label>
    <select id="difficulty" name="difficultyLevel" value="" disabled="true" />
    {{#each options}}
    {{#if this.selected}}
    <option value="{{this.difficulty}}" selected>{{this.title}}</option>
    {{/if}}
    {{/each}}
    </select>
    <input type="submit" value="Delete">
  </form>
</div>